<div class="register-footer">
  <div class="upper-footer">
    <div class="footer-content">
      <a href="#">About</a>
    </div>
    <div class="footer-content">
      <a href="#">Blog</a>
    </div>
    <div class="footer-content">
      <a href="#">Jobs</a>
    </div>
    <div class="footer-content">
      <a href="#">Help</a>
    </div>
    <div class="footer-content">
      <a href="#">API</a>
    </div>
    <div class="footer-content">
      <a href="#">Privacy</a>
    </div>
    <div class="footer-content">
      <a href="#">Term</a>
    </div>
  </div>
  <div class="lower-footer">
    <div class="footer-content">
      <a href="https://london.ac.uk/courses/computer-science?gclid=EAIaIQobChMI3o_Woq6k8gIVDZ7tCh2KAAY_EAAYASAAEgLp-_D_BwE&gclsrc=aw.ds">UOL BSc Computer Science</a>
    </div>
    <div class="footer-content">
      <a href="https://www.coursera.org/learn/uol-cm3035-advanced-web-development/home/welcome">CM3035 Advanced Web Development</a>
    </div>

  </div>
</div>