<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu" style="background: #FFFFFF;">
      <li class="menu-text">SNS title</li>
    </ul>
  </div>
  <form class="search-bar" method="POST" action="{% url 'search-user'%}">
    {% csrf_token %}
    <ul class="menu">
      <li><input type="search" placeholder="search" name="q"></li>
      <li><button type="submit" class="hollow button" id="search-button"><i class="fi-magnifying-glass"></i></button></li>
    </ul>
  </form>
  <div class="top-bar-right">
    <ul class="menu" style="background: #FFFFFF;">
      {% if user.is_authenticated %}
        <li><a href='/'><i class="fi-home"></i></a></li>
        <li><a href="/room/"><i class="fi-mail"></i></a></li>
        <li><a href="/user_home">Profile</a></li>
        <li><a href="../logout"> Logout </a></li>
      {% else %}
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign up</a></li>
      {% endif %}
    </ul>
  </div>
</div>
