{% include "./header.html" %}
<body>
  {% include "./nav.html" %}
  <div class="grid-containor">
    <div class="grid-x grid-margin-x">
      <div class="cell large-3"></div>
      <div class="cell large-7">
        <h5 style="margin-bottom:50px;">Followers</h5>
        <ul>
          {% for user in follower_list %}
            <li><a href="/{{ user.follower }}/">{{ user.follower }}</a></li>
          {% endfor %}
        </ul>
        <h5 style="margin-bottom:50px;">Following</h5>
        <ul>
          {% for user in following_list %}
          <li><a href="/{{ user.user }}/">{{ user.user }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="cell auto"></div>
    </div>
  </div>
  {% include "./footer.html" %}
</body>
