{% extends "./register_base.html" %}
{% block content %}
    <div class="callout large" id="register-form">
      SNS logo comes here...
      {% if registered %}
        <strong>Thank you for signing up</strong>
        <a href="">home</a>
        <!-- add some links to go other page -->
      {% else %}
          <form id="user_form" action="/signup/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p}}
            {{ profile_form.as_p}}
            <button type="submit" class="hollow button" id="register-button">sign me up!</button>
          </form>
      {% endif %}
    </div>
    <div class="callout" id="option-message">
      <p>Have an account? <a id="register-nav" href="/login"> Login </a></p>
    </div>
{% endblock %}
