/* Main component stylesheet */
body {
  background-color: #FAFAF6;
}

.cell {
  height: 100%;
}

/* Register base stylesheet */
.grid-containor {
  padding-top: 50px;
}

.register-input {
  width: 200px;
  height: 30px;
}

.register-input.date-birth {
  width: 67px;
  display: inline-block;
}

#register-button {
  width: 200px;
  height: 30px;
  text-align: center;
  padding: 0px;
  color: #0093f5;
}

.callout {
  width: 300px;
  text-align: center;
  border-radius: 1px;
}

#register-form {
  width: 300px;
  margin: auto;
  margin-top: 40px;
}

#option-message {
  text-align: center;
  margin: auto;
  margin-top: 10px;
}

#register-nav {
  color: #0093f5;
}

/* User home (user_home.html) stylesheet */
.user-home-profile {
  display: inline-block;
  margin-top: 10px;
  vertical-align: top;
}

#user-home-profile-img {
  margin-left: 50px;
}

#user-home-profile-thumbnail {
  width: 150px;
  height: 150px;
  border-radius: 80px;
}

#user-home-profile-info {
  width: 300px;
  margin-left: 80px;
}

#edit-profile-button {
  height: 25px;
  margin-top: 12px;
  margin-left: 20px;
  text-align: center;
  padding: 6px;
  border-radius: 5px;
}

#create-post-button {
  width: 160px;
  height: 30px;
  padding: 8px;
  border-radius: 10px;
}

#new-post-button {
  width: 100px;
  height: 30px;
  padding: 8px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
}

#overlay {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
}

#overlay div {
  width: 400px;
  margin: 100px auto;
  border: 1px solid gray;
  padding: 15px;
  text-align: center;
}

/* Search result (search_user.htnl) stylesheet */
.search-result {
  display: inline-block;
}

#search-result-img {
  width: 80px;
}

#search-result-info {
  width: 200px;
}

/* User profile (user_profile.html) stylesheet */
#user-profile {
  width: 450px;
}

.profile-update {
  width: 150px;
  height: 30px;
  display: inline-block;
}

.small-5.cell p {
  text-align: right;
}

.small-5.cell label {
  font-size: 16px;
}

.small-6.cell input {
  margin-top: 7px;
  margin-right: 20px;
}

#update-button {
  width: 150px;
  margin-top: 20px;
}

#user-profile-img {
  width: 70px;
  height: 70px;
}

#user-profile-thumbnail {
  width: 80px;
  height: 70px;
}

/* Sidebar stylesheet */
.sidebar {
  height: 60px;
  text-align: left;
}

.sidebar-profile {
  display: inline-block;
  /* border: 1px solid black */
  margin: auto;
}

#sidebar-profile-img {
  width: 60px;
  height: 60px;
}

#sidebar-profile-user {
  height: 50px;
  margin-left: 5px;
}

#sidebar-profile-username {
  margin: 0;
}

#sidebar-profile-name {
  color: gray;
}

.thumbnail {
  border-radius: 40px;
  width: 60px;
  height: 60px;
  border: 1px solid;
}

.sidebar-chat {
  height: 300px;
  margin-top: 30px;
}

/* Nav bar stylesheet */
.top-bar {
  background: #FFFFFF;
  border-bottom: 1px solid gray;
}

.top-bar-left {
  margin-left: 20%;
  /* border: 1px solid black */
}

.top-bar-right {
  margin-right: 20%;
  /* border: 1px solid black */
}

.search-bar {
  margin: auto;
  /* border: 1px solid black */
}

#search-button {
  background: #FFFFFF;
}

/* Post stylesheet */
/* icon stylesheet */
.fi-heart {
  color: red;
}

.fi-home {
  font-size: 20px;
  color: blue;
}

.fi-mail {
  font-size: 20px;
  color: blue;
}

.fi-magnifying-glass {
  font-size: 15px;
}

/* Footer stylesheet */
a {
  color: #8f8f8f;
}

.register-footer {
  text-align: center;
  margin-top: 60px;
  /* border: 1px solid black */
}

.lower-footer {
  margin-top: 10px;
}

.footer-content {
  display: inline-block;
  margin-left: 20px;
}

/*# sourceMappingURL=stylesheet.css.map */
