/* Main component stylesheet */
body {
  background-color: #FAFAF6;
}

.cell{
  height: 100%;
}

/* Register base stylesheet */
.grid-containor{
  padding-top: 50px;
}

.register-input {
  width: 200px;
  height: 30px;
}

.register-input.date-birth {
  width: 67px;
  display: inline-block;
}

#register-button {
  width: 200px;
  height: 30px;
  text-align: center;
  padding: 0px;
  color: hsl(204 100% 48%);
}

.callout {
  width: 300px;
  text-align: center;
  border-radius: 1px;
}

#register-form {
  width: 300px;
  margin: auto;
  margin-top: 40px;
}
#option-message {
  text-align: center;
  margin: auto;
  margin-top: 10px;
}

#register-nav {
  color: hsl(204 100% 48%);
}

/* Sidebar stylesheet */

.sidebar {
  height: 60px;
    text-align: left;
}

.sidebar-profile {
  display: inline-block;
  /* border: 1px solid black; */
  margin: auto;
}

#sidebar-profile-img {
  width: 60px;
  height: 60px;
}

#sidebar-profile-user {
  height: 50px;
  margin-left: 5px;
}

#sidebar-profile-username {
  margin: 0;
}

#sidebar-profile-name {
  color: gray;
}

.thumbnail {
  border-radius: 40px;
  width: 60px;
  height: 60px;
  border: 1px solid;
}

.sidebar-chat {
  height: 300px;
  margin-top: 30px;
  border: 1px solid black;
}
/* Nav bar stylesheet */
.top-bar{
  background: #FFFFFF;
  border-bottom: 1px solid gray;
}

.top-bar-left {
  margin-left: 20%;
  /* border: 1px solid black; */
}

.top-bar-right {
  margin-right: 20%;
  /* border: 1px solid black; */
}

.search-bar {
  margin:auto;
  /* border: 1px solid black; */
}

#search-button {
  background: #FFFFFF;
}

/* Footer stylesheet */
a {
  color: hsl(0 0% 56%);
}

.register-footer {
  text-align: center;
  margin-top: 60px;
  /* border: 1px solid black; */
}

.lower-footer{
  margin-top: 10px;
}
.footer-content {
  display: inline-block;
  margin-left: 20px;
}
